*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #016e2f;

}
nav{
    background-color:#032712;
    position: fixed;
    width: 100%;
    top: 0;
    
}
/* Gaya untuk daftar navbar */
.navbar-default .navbar-nav>li {
    display: inline-block;
    margin: 0;
    float: none;
    
}

.navbar-default .navbar-nav {
    text-align: center;
    background-color: #032712;
}

.navbar-default .navbar-nav>li>a {
    display: block;
    padding: 10px 15px;
    margin: 10px;
    color: #ffffff; /* Warna teks putih */
    background-color: #016e2f; /* Warna hijau */
    border-radius: 5px; /* Border radius */
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #2eff85; /* Warna hijau yang lebih gelap saat dihover atau diakses */
}

/* Gaya tambahan untuk mengatur jarak pada jumbotron */
.jumbotron {
    text-align: center;
    font-size: larger;
    color: white;
}


/* 2
/* Gaya untuk dropdown menu */
.mainmenubtn {
    background-color:  #016e2f;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:10%;
    margin-left: 20px;
    border-radius: 10px;
}
.mainmenubtn:hover {
    background-color: #2eff85;
    border-radius: 10px;
    }
.dropdown {
    position: fixed;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #fff;
    margin-left: 20px;
    min-width: 150px;
    border-radius: 10px;
}
.dropdown-child a {
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;

}

.dropdown-child a:hover{
    color: #14e61e;
}


/*3*/

#persegi {
    margin-top: 90px;
    position: block;
}

.panel {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.panel-heading {
    background-color:rgb(81, 110, 14);
    color: #fff;
    padding: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.panel-body {
    padding: 20px;
}

.panel-footer {
    background-color: #a79c06d5;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.form-control {
    width: 80%;
    margin: 10px auto;
}

.btn-lg {
    background-color: #5beb97;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-lg:hover {
    background-color: #5c9b76;
}

.btn-warning {
    background-color: #f77a05;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #af6c3f;
}

.text-right {
    text-align: right;
    color: #000000;
    
}

.text-left {
    text-align: left;
    color: #ffffff;
}

.text-center {
    text-align: center;
    color: #ffffff;
}

h3{
    color: #000;
}